{
  "$schema": "https://swc.rs/schema.json",
  "minify": true,
  "test": ".*\\.js$",
  "jsc": {
    "target": "esnext",
    "loose": true,
    "minify": { "mangle": true, "compress": { "defaults": true, "arguments": true, "passes": 3 } },
    "baseUrl": "./dist",
    "paths": { "@/*": ["./*"] }
  }
}
